@import "tailwindcss";

@keyframes gradient-move {
  to {
    background-position: 200% center;
  }
}

.animated-gradient-text {
  background: linear-gradient(90deg, #000851, #1cb5e0, #000851, #000851);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradient-move 8s linear infinite;
  animation-timing-function: linear;
}